@import url('colors.css');

#game-container {
  background-color: var(--case1-background-color);
  padding: 10px;
}

.grid-item {
  background-color: var(--case1-grid-background);
  border: 2px solid var(--case1-grid-border);
  color: var(--case1-text-color);
  font-size: 24px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#case1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#grid-container {
  display: grid;
  grid-template-columns: repeat(3, 40px);
  grid-template-rows: repeat(3, 40px);
  gap: 5px;
}

.controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.side-controls {
  display: flex;
  justify-content: center;
  gap: 20px; /* Mellanrum mellan vänster och högerpilar */
}

.control-button {
  width: 50px;
  height: 50px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--case1-control-button-background);
  border: 2px solid var(--case1-control-button-border);
  color: var(--case1-control-button-text);
  cursor: pointer;
  user-select: none;
  margin-top: 10px;
}

#step-count {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 20px;
  color: var(--case1-step-count-color);
}

#up {
  margin-top: 25px;
}
