:root[data-theme='dark'] {
  --background-color: #1a1a1a;
  --text-color: #cccccc;
  --bento-item-background: #333333;
  --bento-item-border: #444444;
  --bento-item-shadow: rgba(255, 255, 255, 0.05);
  --bento-item-hover-shadow: rgba(255, 255, 255, 0.3);
  --main-background-color: #444444;
  --flip-box-background: #eee;
  --flip-box-color: #333;
  --clock-number-color: #444;
  --separator-color: #eee;
  --flip-front-color: #555;
  --flip-back-color: #555;
  --flip-front-background: #eee;
  --flip-back-background: #ccc;
  --highlight-color: #00ffff;
  --contact-icon-color: #ccc;
  --handle-color: #cccccc;
  --slider-background: #ccc;
  --highlight-color: #00ffff;
  --weather-icon-color: #ffffff;
  --input-border-color: #cccccc51;
  --case1-background-color: #8c8c8c;
  --case1-text-color: #cccccc;
  --case1-grid-background: #bfbfbf;
  --case1-grid-border: #444444;
  --case1-control-button-background: #8c8c8c;
  --case1-control-button-border: #444444;
  --case1-control-button-text: #fff;
  --case1-step-count-color: #cccccc;
}

:root[data-theme='light'] {
  --background-color: #f2f2f2;
  --text-color: #333;
  --bento-item-background: #ffffff;
  --bento-item-border: #ddd;
  --bento-item-shadow: rgba(0, 0, 0, 0.05);
  --bento-item-hover-shadow: rgba(0, 0, 0, 0.3);
  --main-background-color: #d1d1d1;
  --clock-number-color: #f1f1f1;
  --flip-box-background: #555;
  --flip-box-color: white;
  --separator-color: #333;
  --flip-front-color: white;
  --flip-back-color: white;
  --flip-front-background: #555;
  --flip-back-background: #555;
  --highlight-color: #2196f3;
  --contact-icon-color: #555;
  --handle-color: #555;
  --slider-background: #555;
  --highlight-color: #2196f3;
  --weather-icon-color: #555;
  --input-border-color: #55555543;
  --case1-background-color: #737373;
  --case1-text-color: #333333;
  --case1-grid-background: #9e9e9e;
  --case1-grid-border: #cccccc;
  --case1-control-button-background: #737373;
  --case1-control-button-border: #cccccc;
  --case1-control-button-text: #000;
  --case1-step-count-color: #333333;
}

:root {
  --red: red;
  --orange: orange;
  --yellow: yellow;
  --green: green;
  --cyan: cyan;
  --blue: blue;
  --magenta: magenta;
}
