.contact-icons {
  display: flex;
  gap: 30px; 
  justify-content: center; 
  align-items: center;
  margin-top: 10px;
}

.contact-icons a {
  color: var(--text-color);
  font-size: 6rem;
  transition: color var(--transition-duration) var(--transition-ease);
  color: var(--contact-icon-color); 
}

.contact-icons a:hover {
  color: var(--highlight-color); /
}


