/* Basic styling for the body */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #000000;
  color: #333;
}

/* Grid container for the main content */
.bento-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas:
    'header header header header'
    'weather color contact date'
    'weather about about date'
    'case1 about about theme'
    'case1 clock case2 case2';
  gap: 17px;
  padding: 20px;
}

.bento-item {
  background-color: #f2f1f1;
  padding: 20px;
  border: 1px solid #ddd;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
}
.main {
  background-color: #fee6e6;
}

.bento-item h2 {
  margin-top: 0;
}

/* Specific placement for each section in the grid */
.bento-item:nth-child(1) {
  grid-area: header;
}

.bento-item:nth-child(2) {
  grid-area: about;
}

.bento-item:nth-child(3) {
  grid-area: contact;
}

.bento-item:nth-child(4) {
  grid-area: theme;
}

.bento-item:nth-child(5) {
  grid-area: color;
}

.bento-item:nth-child(6) {
  grid-area: clock;
}

.bento-item:nth-child(7) {
  grid-area: weather;
}

.bento-item:nth-child(8) {
  grid-area: date;
}

.bento-item:nth-child(9) {
  grid-area: case1;
}

.bento-item:nth-child(10) {
  grid-area: case2;
}

/* Responsive design*/
@media (max-width: 600px) {
  .bento-grid {
    grid-template-columns: 1fr; /* Single column layout on small screens */
    grid-template-areas:
      'header'
      'about'
      'contact'
      'theme'
      'color'
      'clock'
      'weather'
      'date'
      'case1'
      'case2'; /* Stack all sections vertically */
  }
}
