@import url('colors.css');

.palette-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 100%;
  margin: 0 auto;
}

#colorPalette {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

#colorCanvas {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 25px;
  cursor: crosshair;
}
