:root[data-theme='dark'] {
  --background-color: #1a1a1a;
  --text-color: #cccccc;
  --bento-item-background: #333333;
  --bento-item-border: #444444;
  --bento-item-shadow: rgba(0, 0, 0, 0.2);
  --main-background-color: #444444;
}

:root[data-theme='light'] {
  --background-color: #8e8484;
  --text-color: #333333;
  --bento-item-background: #ffffff;
  --bento-item-border: #ddd;
  --bento-item-shadow: rgba(0, 0, 0, 0.1);
  --main-background-color: #e6e6e6;
}

/* Ny design för switch */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider {
  user-select: none;
}
