@import url('colors.css');

:root[data-theme='dark'] {
  background-color: var(--background-color);
  color: var(--text-color);
  --bento-item-background: var(--bento-item-background);
  --bento-item-border: var(--bento-item-border);
  --bento-item-shadow: var(--bento-item-shadow);
}

:root[data-theme='light'] {
  background-color: var(--background-color);
  color: var(--text-color);
  --bento-item-background: var(--bento-item-background);
  --bento-item-border: var(--bento-item-border);
  --bento-item-shadow: var(--bento-item-shadow);
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider {
  user-select: none;
}

#sun-moon-container {
  position: relative;
  width: 160px; /* Tillräckligt för att rymma både solen och månen */
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Placera solen till vänster och månen till höger */
}

#sun,
#moon {
  width: 40px;
  height: 40px;
}

#sun {
  stroke: currentColor; /* Använd den nuvarande textfärgen för konturer */
}

#moon {
  stroke: currentColor; /* Använd den nuvarande textfärgen för konturer */
}
