#typewriter-container {
  display: inline-block;
  position: relative;
}

#typewriter {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid black;
  animation: blink 0.9s step-end infinite;
  vertical-align: bottom;
  position: absolute;
}

#typewriter-placeholder {
  visibility: hidden;
}

#static-part {
  display: inline-block;
  vertical-align: bottom;
}

@keyframes blink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}
