@import url('colors.css');

#weather-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#weather-icon {
  font-size: 3rem;
  color: var(--weather-icon-color);
  margin-bottom: 10px;
}

#temperature {
  font-size: 2rem;
  margin: 10px 0;
}

#wind,
#description {
  margin: 6px 0;
}

#weather-container p {
  margin: 4px 0;
}

h2 {
  margin-bottom: 20px;
  font-size: 1.5rem;
}

#weather-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#city-input {
  margin-top: 10px;
  padding: 8px;
  font-size: 1rem;
  text-align: center;
  border-radius: 5px;
  border: 1px solid var(--input-border-color);
}

#city-result {
  margin-top: 10px;
  font-size: 1.2rem;
}
